[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
scikit-image = "*"
matplotlib = "*"
pytesseract = "*"
pillow = "*"
tesseract = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
